<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>734511389044-0euj5knq9t351kofiqmj898qvh0e9had.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734511389044-0euj5knq9t351kofiqmj898qvh0e9had</string>
	<key>API_KEY</key>
	<string>AIzaSyA8qsHp2c3poAqUrskiCvcJUrvMHJ-Ipt0</string>
	<key>GCM_SENDER_ID</key>
	<string>734511389044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluedeskstudios.ios</string>
	<key>PROJECT_ID</key>
	<string>operation-meteor-storm</string>
	<key>STORAGE_BUCKET</key>
	<string>operation-meteor-storm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734511389044:ios:f03752671b0fd5e8</string>
	<key>DATABASE_URL</key>
	<string>https://operation-meteor-storm.firebaseio.com</string>
</dict>
</plist>